PORT=3000

REDIS_URL=redis://localhost:6379

TEMPORAL_ADDRESS=localhost:7233
TEMPORAL_NAMESPACE=default
TEMPORAL_TASK_QUEUE=hotel-offer-task-queue
LOG_LEVEL=info
NODE_ENV=development
MOCK_SUPPLIER_A_DOWN=false
MOCK_SUPPLIER_B_DOWN=false